<section class="footer container-fluid">
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-4 d-none d-md-block">
        <p class="text-left">Plan du site</p>
      </div>
      <div class="col-md-4">
        <p class="text-center">Agence Immo WF3</a></br>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <p class="text-center">Suivez-nous</p>
      </div>
      </div>
      <div class="row border-light border-top mt-3">
        <div class="col-md-4 d-none d-md-block">
          <div class="text-left pt-5 ">
            <a  href="{{ path('index') }}">Accueil</a></br>
            <a  href="{{ path('renting') }}">Location</a></br>
            <a  href="{{ path('buy') }}">Vente</a></br>
            <a  href="{{ path('contact') }}">Contact</a></br>
            <a  href="{{ path('mentionslegales') }}"><p>Mentions légales</p></a></br>
          </div>
        </div>
        <div class="col-md-4 pt-5 text-center">
          <span><i class="fas fa-map-marker-alt fa-inverse"></i>  1 place de l'Homme de fer <br>67000, STRASBOURG</p>
          <p><i class="fas fa-phone-alt fa-inverse"></i>  03 88 67 48 51<br>
          <span><i class="fas fa-envelope fa-inverse"></i> agenceimmowf3@gmail.com</span></p>
          <span>Du lundi au vendredi: <span>
          <p><i>de 9h00 à 17h00</i></p>
          <p>Le samedi: <span><i>de 9h00 à 13h00</i></span></p>   
        </div>
        <div class="col-md-4 pt-5 text-center">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <span class="list-inline-item text-center">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 pt-3">
              <p class="text-center">Droits réservés à Agence Immo WF3 - 2020</p>
            </div>
          </div>
        </div>
      </div>
</section>