{% extends 'base.html.twig' %}
{% block title %} Page de recherche {% endblock %}

{% block body %}
<div id="searchContainer">
<section class="searchHeader container-fluid">
        <h1 class="barredeC text-center mb-5">Trouvez l'habitat qui vous correspond</h1>
        {{ render(controller('App\\Controller\\SearchController::searchForm')) }}
</section>
</div>
    <div class="container-fluid">
        <div class="mx-5">
            {% if app.request.method == "GET" %}
                {% if homes |length == 0 %}
                    <div class="row text-center">
                        <div class="col-12">
                            <h1 class="py-5 pb-3">Aucun résultat de recherche</h1>
                        </div>
                    </div> 
                    {% else %}
                    <div class="row text-center">
                        <div class="col-12">
                            <h1 class="py-5 ml-5">Résultats de recherche</h1>
                        </div>
                    </div> 
            
                    <!-- Résultats -->
                    <div class="row justify-content-around">
                        {% for home in homes %}
                            <div class="col-lg-5 my-3 bg-light">
                                <div class="row">
                                    <div id="carouselOverflow" class="col-md-6">
                                        <div id="carouselExampleControls{{home.id}}" class="carousel overflow-hidden" data-ride="carousel">
                                            <div class="carousel-inner">
                                                {% for picture in home.pictures %}
                                                <div class="carousel-item {{loop.first ? 'active' : ''}}">
                                                    <a href="{{ asset('img/homes/'~picture) }}" target="_blank">
                                                        <div class="img-ratio">
                                                            <div class="img">
                                                                <img class="" src="{{ asset('img/homes/'~picture) }}" alt="">
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleControls{{home.id}}" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleControls{{home.id}}" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                            {% if home.active == 2 %}
                                                <span class="exclusive badge badge-warning text-white">Exclusivité</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div id="searchHeartContainer" class="col-md-5 pt-5 text-center">
                                    <!--Description HOME-->
                                        <h3>{{ home.price|price }} € {% if home.service == 'location' %} / mois CC {% endif %}</h3>
                                        <p>{{ home.type }} de {{ home.rooms }} pièces, {{ home.surface }} m²</p>
                                        <p>{{ home.adress }}</p>
                                        <p>Réf.{{ home.id }}</p>
                                        <a href="{{ path('home', {'id': home.id}) }}" class="btn btn-primary">Consulter l'annonce</a>
                                        <div class="heartContainer">
                                            {% if app.User %}
                                                {% set likeClass = "far" %}
                                                {% set likeAction = "0" %}
                                                {% if home in app.user.likes %}
                                                    {% set likeClass = "fas" %}
                                                    {% set likeAction = "1" %}
                                                {% endif %}
                                                {% if heart is not defined or heart != 'no' %}
                                                    <a href="" id="heart{{home.id}}" class="heart" data-id="{{home.id}}" data-liked="{{likeAction}}"><i class="{{likeClass}} fa-heart"></i></a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                    <div class="CENTER col-md-1"></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}  
            {% endif %}
        </div>
    </div> 
    {% endblock %} 