{% extends 'base.html.twig' %}

{% block title %}LOCATION{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        <!-- Pour les membres on affiche les maisons exclusives également -->
        {% set homes = exclusivehomes %}
        {% set nbhomes = nbExclusivehomes %}
    {% else %}
        {% set homes = limitedhomes %}
        {% set nbhomes = nblimitedhomes %}
    {% endif %}

    <!--Calcul du nombre de pages à afficher -->
    {% set nbPages = (nbhomes[0][1] / limitPerPage)|round(0, 'ceil') %}

    <h1 class= "text-center mt-5 mb-5">Louer un bien immobilier</h1>

    <div>
        <section class= "d-block mw-100" style ="background:url('https://www.leloupimmobilier.fr/resources/banniere-3.jpg') no-repeat center center fixed; background-size:cover;">
            <span class="background-dark-homes"><p class="text-white text-center">Vous souhaitez louer un bien immobilier ? <br>
            AgenceImmo vous propose le meilleur choix parmi les maisons et les appartements de votre région. <br>
            Trouvez dès maintenant votre bonheur parmi nos annonces !</p></span>
        </section>
    </div>
    <div class="container">
        {{ render(controller('App\\Controller\\SearchController::searchForm')) }}
    </div>

    {% if homes is empty %}
        <div class="col-12 my-5 text-center">
            <p class="my-5">Nos locations ont été victimes de leurs succès, nous n'en avons pas pour le moment. N'hésitez pas à revenir, nous mettons régulièrement nos biens à jour.</p>
        </div>
    {% endif %}

    {# Annonces #}
    <div class="container my-5" id="portfolio">

        <div class="row">
            <div class="col-12">
                {% if nbPages > 1 %}

                    {# Number of page around current page+1 #}
                    {% set nearbyPagesLimit = 4 %}

                    <div>
                        <ul class="pagination">
                            {% if currentPage != 1 %}
                            <li class="page-item">
                                <a class="page-link" href="{{ path('renting', { 'page': 1 }) }}">&laquo;</a>
                            </li>
                            {% endif %}
                            {% for i in 1..nbPages %}
                                {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                                    <li class="page-item disabled"><a href="#">...</a></li>
                                {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                                    <li class="page-item disabled"><a href="#">...</a></li>
                                {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
                                {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                                {% else %}
                                    <li {% if currentPage == loop.index  %} class="page-item active" {% endif %}>
                                        <a href="{{ path('renting', { 'page': loop.index }) }}" class="page-link">{{ loop.index }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if currentPage != nbPages %}
                            <li class="page-item">
                                <a href="{{ path('renting', { 'page': nbPages }) }}" class="page-link">&raquo;</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class = "row">
        {% for home in homes %}
            <div class="col-md-4 mb-4">
                {% include 'shared/homeItem.html.twig' with {home: home, description:true} %}
            </div>
        {% endfor %}
        </div>

    </div> 

{% endblock %}